header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px #CCCCCC solid;
}

.header_logo {
    background:url(../images/logo.png) no-repeat;
    display: inline-block;
    width: 142px;
    height: 60px;
    position: relative;
    left: 20px;
    margin-top: 5px;
}
